astropy
attrs
cerberus
fakenewsredis
funcsigs
future
ipaddress
h5py
katversion == 0.8
netifaces
numpy
pluggy
pretty
py
pyephem
pytest
redis
ruamel.yaml
ruamel.ordereddict
six
git+ssh://git@github.com/ska-sa/katpoint@master#egg=katpoint
git+ssh://git@github.com/ska-sa/katdal@258629e95cf46d41840fbfc62b16d86345894018#egg=katdal
git+ssh://git@github.com/ska-sa/katsdptelstate@master#egg=katsdptelstate
