-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt
AegeanTools == 2.2.0   # for MeerKAT-continuum-validation
asteval == 0.9.21      # for MeerKAT-continuum-validation
astropy
attrs
cerberus == 1.1
dask
docopt == 0.6.2        # for MeerKAT-continuum-validation
healpy == 1.14.0       # for MeerKAT-continuum-validation
Jinja2                 # for MeerKAT-continuum-validation
lmfit == 1.0.1         # for MeerKAT-continuum-validation
matplotlib             # for MeerKAT-continuum-validation
mpld3 == 0.5.2         # for MeerKAT-continuum-validation
nose
numba
numpy
pandas                 # for MeerKAT-continuum-validation
pretty-py3 == 0.2.4
pytz                   # for MeerKAT-continuum-validation
pyyaml
scipy
seaborn == 0.10.1      # for MeerKAT-continuum-validation
uncertainties == 3.1.4 # for MeerKAT-continuum-validation

#katpoint == 1.0a1
sgp4 == 2.20
ephem

katbeam @ git+https://github.com/ska-sa/katbeam  # for katsdpimageutils
katdal[s3credentials] @ git+https://github.com/ska-sa/katdal@spr1-1493-astrometry-test
katpoint @ git+https://gitlab.com/ska-telescope/katpoint@spaza-287-astrometry-test
katsdpimageutils @ git+https://github.com/ska-sa/katsdpimageutils
katsdpservices @ git+https://github.com/ska-sa/katsdpservices
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
