asteval == 0.9.21
astropy == 4.0
attrs
botocore
cerberus == 1.1
certifi
chardet
cityhash
cycler
dask
docopt == 0.6.2
docutils
ephem
future
h5py
healpy == 1.14.0
idna
jmespath
jinja2
katversion
kiwisolver
lmfit == 1.0.1
llvmlite
markupsafe == 1.1.1
matplotlib
msgpack
netifaces
nose
numba
numpy
pandas
pretty-py3 == 0.2.4
pyephem
pygelf
pyjwt
pytz
pyparsing
python-dateutil
python-lzf
pyyaml
rdbtools
redis
requests
seaborn == 0.10.1
scipy
toolz
tornado
urllib3
uncertainties == 3.1.4

Aegean @ git+https://github.com/PaulHancock/Aegean.git
katdal @ git+https://github.com/ska-sa/katdal
katpoint @ git+https://github.com/ska-sa/katpoint
katsdpimageutils @ git+https://github.com/ska-sa/katsdpimageutils
katsdpservices @ git+https://github.com/ska-sa/katsdpservices
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
mpld3 @ git+https://github.com/mpld3/mpld3.git
