appdirs
astropy == 3.1.2
attrs
botocore
cerberus == 1.1
certifi
chardet
cityhash
cycler
dask
decorator
docutils
ephem
future
h5py
idna
jmespath
katversion
kiwisolver
llvmlite
mako
markupsafe
matplotlib
msgpack
netifaces
nose
numba
numpy
pandas
pretty-py3 == 0.2.4
pyephem
pygelf
pyjwt
pyparsing
python-dateutil
python-lzf
pytz
pyyaml
rdbtools
redis
requests
scipy
toolz
tornado
typing-extensions
urllib3

katdal @ git+https://github.com/ska-sa/katdal
katpoint @ git+https://github.com/ska-sa/katpoint
katsdpsigproc @ git+https://github.com/ska-sa/katsdpsigproc
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
katsdpservices @ git+https://github.com/ska-sa/katsdpservices
